:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}

.figtree-500 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.figtree-800 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 24px;
  left: 24px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

p {
  font-size: 16px;
}

@media screen and (max-width: 375px) {
  .card-body {
    width: 85%;
    margin: 16px;
  }

  .card-body h2 {
    font-size: 20px;
  }

  .qr-image {
    padding: 12px;
  }

  .card-container {
    padding: 20px 16px;
  }
}

@media screen and (max-width: 320px) {
  .card-body {
    width: 90%;
  }

  .card-body p {
    padding: 0 8px;
  }
}