:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}

body {
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Figtree", sans-serif;
  color: var(--gray-950);
}

.figtree-500 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.figtree-800 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 24px;
  left: 24px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

p {
  font-size: 16px;
}

.description {
  color: var(--gray-500);
}

.card-body {
  background: var(--white);
  height: auto;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  width: 320px;
  margin: auto;
  overflow: hidden;
}

.card-container {
  padding: 24px;
  text-align: left;
}

/* .card-body h2 {
  font-size: 22px;
  margin: 0 0 16px 0;
  color: var(--slate-900);
  font-weight: 700;
  line-height: 1.3;
} */

/* .card-body p {
  font-size: 15px;
  margin: 0;
  color: var(--slate-500);
  font-weight: 400;
  line-height: 1.3;
  padding: 0 16px;
} */

.card-image {
  padding: 16px;
  padding-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

/* Layouts */
@media screen and (max-width: 375px) {
  .card-body {
    width: 85%;
    margin: 16px;
  }

  .card-body h2 {
    font-size: 20px;
  }

  .qr-image {
    padding: 12px;
  }

  .card-container {
    padding: 20px 16px;
  }
}

@media screen and (max-width: 320px) {
  .card-body {
    width: 90%;
  }

  .card-body p {
    padding: 0 8px;
  }
}